*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.item{
    display:flex;
    /* border:1px solid red; */
    margin:5px;
    justify-content:space-between;
    padding-left:30%;
    padding-right: 30%;
    margin-left: 150px;
    margin-right: 150px;
    background-color:rgb(53, 4, 116);
    color: white;
    border-radius: 15px;
}
.value{
    font-size:1.5rem;
}
.btns{
    font-size:1.5rem;
}
















